body {
    --JATiffanyBlue: #00b7b8;
    --JAPeachOrange: #ffcc8b;
    --JABoldInfraRed: #EF476F;
    --JABoldMidnightGreen: #114B5F;
    --JABoldSeaweed: #028090;
    --JATitle: #00B7B8;
    --JAWebBlue: #2274A5;
    --JASubtitle: #FFCC8B;
    --JAInformation: #F786AA;
    /*    padding-top: 5rem;*/
}

::selection {
    background: var(--JAPeachOrange);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--JAPeachOrange);
    /* Gecko Browsers */
}

.container-fluid {
    margin-top: 2rem;
    padding: 0px;
}

.slide_bar_description {
    padding-left: .3125rem;
}

@media (max-width: 768px) {
    .container-fluid {
        margin-top: 56px;
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 0px;
    }

    .navbar-brand {
        margin-right: 0rem;
        padding-right: 3.2rem;
        padding-left: 2rem;
        background-color: var(--JATiffanyBlue);
    }

    .page_scrolled.navbar > .navbar-brand {
        font-size: inherit;
        padding-top: .27rem;
        padding-bottom: .27rem;
    }

    .slide_bar_container {
        flex: auto;
    }

    .slide_bar_container li:first-child {
        margin-left: -20px;
    }
    .slide_bar_container li:last-child {
        margin-right: -20px;
    }

    .slide_bar {
        border-left: 1px solid #eee;
        flex-grow: 1;
        -webkit-transform: skew(30deg);
        transform: skew(30deg);
    }

    .slide_bar:not(.active) {
        filter: grayscale(60%) saturate(60%);
    }

    .slide_bar:nth-child(3n+0) {
        background-color: var(--JAWebBlue);
    }
    .slide_bar:nth-child(3n+1) {
        background-color: var(--JABoldInfraRed);
    }
    .slide_bar:nth-child(3n+2) {
        background-color: var(--JATiffanyBlue);
    }

    .slide_bar:hover {
        filter: grayscale(0%) saturate(100%);
    }

    .page_scrolled .slide_bar_description {
        -webkit-transition: font-size .2s ease-in, color .3s ease-in, filter .2s ease-in;
        transition: font-size .2s ease-in, color .3s ease-in, filter .2s ease-in;
    }

    .slide_bar:hover .slide_bar_description,
    .slide_bar:hover .slide_bar_icon {
        font-size: inherit;
        color: #fff;
    }

    .page_scrolled > .slide_bar:hover .slide_bar_description {
        -webkit-animation: fadeIn .2s forwards;
        -moz-animation: fadeIn .2s forwards;
        -o-animation: fadeIn .2s forwards;
        animation: fadeIn .2s forwards;
    }

    .slide_bar a {
        text-align: center;
    }

    .page_scrolled .slide_bar_anchor {
        padding: .1875rem 0px;
    }

    .slide_bar .slide_bar_icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: white;
        display: none;

        -webkit-transform: skew(-30deg);
        transform: skew(-30deg);
        -webkit-transition: color .3s ease-in;
        transition: color .3s ease-in;
    }

    .page_scrolled .slide_bar_icon {
        display: inline-block;
    }

    .slide_bar_description {
        display: inline-flex;
        -webkit-transform: skew(-30deg);
        transform: skew(-30deg);
    }

    .page_scrolled .slide_bar_description {
        font-size: 0px;
        opacity: 0;
    }

    @-webkit-keyframes fadeIn {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes fadeIn {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes fadeIn {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.background_parallax {
    position: fixed;
    z-index: -1;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    text-transform: uppercase;
    /*    font-size: 42px;*/
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
}

.title_container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    max-width: 450px;
}

._clear {
    height: 580px;
}

.retro_title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
}

.retro_title span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
}

.retro_title:nth-child(1) {
    color: var(--JATitle);
    font-size: 84px;
    line-height: 90px;
}

.retro_title:nth-child(2) {
    color: var(--JASubtitle);
    font-size: 47px;
    line-height: 58px;
}

.retro_title:nth-child(3) {
    color: var(--JAInformation);
    font-size: 44px;
    line-height: 55px;
}

.retro_title:nth-child(4) {
    color: var(--JAInformation);
    font-size: 47px;
    line-height: 59px;
}



/*
.bio_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 5vh;
  background-color: #03A9F4;
  border-radius: 50%;
  width: 60px;
  max-width: 500px;
  height: 300px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  -webkit-transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
  transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
}
*/

.flush_right {
    padding-right: 0px;
    margin-right: 0px;
}

.bio_description_container {
    margin-left: 8rem;
    margin-bottom: 2rem;
    height: 280px;

    position: relative;
    right: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
}

.bio_description_container > .bio_content_picture_container {
    height: 17.5rem;
    width: 17.5rem;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: 1001;
    display: flex;
    justify-content: center;
    border: solid 1.5rem dodgerblue;
    transition: all 0.2s ease;
}

.bio_content_picture_container > .bio_content_picture {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    margin: 10px;
    z-index: 1001;
    margin: auto;
    box-shadow: 5px 8px 8px -4px rgba(25, 24, 23, 0.21);
    -moz-animation-duration: 3s;
    -webkit-animation-delay: .3s;
    -o-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.bio_description_container > .bio_content_description {
    transition: all 0.2s ease;

    padding-left: 9.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    z-index: 1000;
    left: 140px;
    height: 280px;
    right: 0px;
    position: absolute;
    background-color: dodgerblue;
}

.bio_content_description > .bio_content_description_name {
    color: #FFF;
}

.bio_content_description > .bio_content_description_position {
    color: gold;
}

.bio_content_description > .bio_content_description_bio {
    height: 10rem;
    color: #fff;
    overflow-y: auto;
}

.bio_cards_container {
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 2rem;
}

.bio_container {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio_button {
    padding: 0px;
    cursor: pointer;
    border: 1rem solid dodgerblue;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio_button:hover {
    filter: brightness(85%);
}

.bio_image {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    box-shadow: 5px 8px 8px -4px rgba(25, 24, 23, 0.21);
}

.bio_title {
    flex: auto;
    color: dodgerblue;
    text-align: center;
    font-size: larger;
    padding: .2rem .5rem;
    position: absolute;
    margin-top: 9rem;
    background-color: white;
    box-shadow: 6px 6px 15px -3px rgba(25, 24, 23, 0.21);
    border-radius: .25rem;
    border: 1px solid #ddd;
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
}

/*
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: var(--JATiffanyBlue)
}*/

.hidden_information_description,
.hidden_information_position,
.hidden_information_name {
    display: none;
}

.general_info_container {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.general_info {
    padding-bottom: .5rem;
}

.general_info_icon {
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
    color: var(--JAPeachOrange);
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px;
}

.general_info_text {
    text-align: center;
}

.bg_white {
    background-color: white;
}

.header_centered {
    text-align: center;
}

.about_content_description {
    text-align: center;
}

.FAQ_question::before {
    content: "Q: ";
    font-weight: bold;
}

.FAQ_answer::before {
    content: "A: ";
    font-weight: bold;
}

.*,
*:before,
*:after {
    box-sizing: border-box;
}

.css-shapes-preview {
    background-image: url(res/Profiles/ErinA.jpg);
    position: relative;
    height: 900px;
    width: 900px;
}

.testBox {
/*    width: 100px;*/
/*
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
*/
}

.flexRow {
    width:100%;
}
.testBox {
    width:100%;
}

.css-shapes-preview:nth-child(3) {
    background-color: beige;
}

.css-shapes-preview:nth-child(2) {
    background-color: purple;
}

.css-shapes-preview:first-child {
    background-color: blue;
}
.last-row {
    background-color: aqua;
    
}
.dont {
    visibility: hidden;
}

.margin-top {
    margin-top: 500px;
}